[Unit]
Description=Midi Service
After=pulsaudio.service

[Service]
Type=simple
ExecStart=/home/escaperoom/midi-game/build/midi-game
WorkingDirectory=/home/escaperoom/midi-game

[Install]
WantedBy=default.target
