[Unit]
Description=Midi Service

[Service]
Type=simple
ExecStart=/home/escaperoom/midi-game/build/midi-game
WorkingDirectory=/home/escaperoom/midi-game

[Install]
WantedBy=multi-user.target
